@import 'E:\MUNKA\origin_develop\minimal_blog_assignment\minimal_blog\src\assets\font.css';

.container {
    height: auto;
    width: 100%;
    background-color: #212529;
    color: #F8F9FA80;
}

.first, .second {
    width: 90%;
}

.line {
    border-top: 1px solid #F8F9FA80;
    width: 90%;
}

.center, .left, .right {
    font-family: 'Poppins' !important;
    font-weight: 500;
    font-size: 0.75rem
}

.vence {
    color: #F8F9FA;
    font-weight: 700;
    font-size: 1.25rem;
}

.dott {
    color: #DDBEA9;
}