<div class="container">
    <div class="first">
        <div class="left">
            <span class="vence">VENCE Studio<span class="dott">.</span></span>
        </div>
        <div class="center">
            <span>About Studio</span>
            <span>Archive</span>
            <span>Contact Us</span>
        </div>
        <div class="right">
            <span>Fb</span>
            <span>Tw</span>
            <span>Ln</span>
        </div>
    </div>
    <div class="line"></div>
    <div class="second">
        <div class="left">
            <span>1088, North Street, Alexandria, AU</span>
        </div>
        <div class="right">
            <span>© 2022, All Rights Reserved</span>
        </div>
    </div>
</div>
