<div class="flex flex-row flex-nowrap justify-content-between container">
    <div class="vence">
        <span>VENCE<span class="dott">.</span></span>
    </div>
    <div class="flex flex-wrap justify-content-between gap-4 nav">
        <div class="links" *ngFor="let link of linkItems" [innerHtml]="link"></div>
    </div>
    <div class="login">
        <div class="flex justify-content-end mini-container">
            <div class="flex align-items-center justify-content-center button" id="inactiveButton">
                <span>Sign in</span>
            </div>
            <div class="flex align-items-center justify-content-center button" id="activeButton">
                <span>Get Started</span>
            </div>
        </div>
    </div>
</div>