@import 'E:\MUNKA\origin_develop\minimal_blog_assignment\minimal_blog\src\assets\font.css';

.container {
    width: 65%;
    float: right;
}

.title {
    font-family: 'Poppins' !important;
    font-weight: 700;
    font-size: 1.5625rem;
    line-height: 2.5rem;
}

ul {
    list-style-type: none;
}

li {
    font-family: 'Poppins' !important;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.5625rem;
}

.search {
    font-family: 'Poppins' !important;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.5625rem;
}