<div class="grid container">
    <div class="content" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
        <div class="title">
            <div>Choose what you’d like to learn from hundreds of topics:</div>
        </div>
        <div class="list">
            <ul>
                <li *ngFor="let item of listItems" class="item">+ {{ item }}</li>
            </ul>
        </div>
        <div class="opacity-60 search">
            <span><i class="pi pi-search"></i> Search Topic</span>
        </div>
    </div>
</div>
