@font-face {
    font-family: 'Poppins-black';
    src: url('Poppins-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }