app-header {
    height: 5vh;
}

app-footer {
    height: 30vh;
    background-color: #212529;
}

app-image-slider {
    height: 20vh;
}

app-categories, app-card {
    height: 45vh;
}

.columns {
    align-items: start;
    justify-content: center;
    gap: 2rem;
}

.columns.is-phone-portrait {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
}