<div class="grid justify-content-center gap-4 w-full">
  <div class="flex align-items-center justify-content-around w-9">
    <div class="flex w-screen">
      <app-header [ngClass]="{'header': isPhonePortrait}"></app-header>
    </div>
  </div>
  <div class="flex flex-wrap flex-column gap-5 w-screen content">
    <div class="img">
      <app-image-slider></app-image-slider>
    </div>
    <div class="flex flex-nowrap columns" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
          <div class="left">
            <app-categories></app-categories>
          </div>
        <div class="right">
            <app-card></app-card>
          </div>
        </div>
  </div>
  <div class="flex flex-column w-screen">
    <app-paginator></app-paginator>
  </div>
  <div class="flex align-items-center justify-content-around w-screen">
    <div class="flex w-screen">
      <app-footer class="flex w-screen"></app-footer>
    </div>
  </div>  
</div>