app-header {
    height: 5vh;
    width: 75vw;
    padding: 2rem 0 0 0;
}

app-footer {
    height: 27.5vh;
    background-color: #212529;
}

app-image-slider {
    height: 20vh;
}

app-categories, app-card {
    height: 45vh;
}

app-paginator {
    height: 2.5vh;
}

.header {
    height: 27.5vh;
    width: 100vw;
    padding: 0;
}

.columns {
    align-items: start;
    justify-content: center;
    gap: 2rem;
}

.columns.is-phone-portrait {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
}