<div *ngFor="let item of content" class="flex card" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
    <div class="flex img" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
        <img [src]="item.img" alt="card image">
    </div>
    <div class="flex text" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
        <div class="date">
            <span>{{ item.date }}</span>
        </div>
        <div class="content">
            <span class="title">{{ item.title }}</span>
            <p class="desc">{{ item.desc }}.</p>
        </div>
        <div class="line"></div>
        <div class="author">
            <span>{{ item.author }}</span><span class="likes"><i class="pi pi-heart"></i> {{ item.num }}</span>
        </div>
    </div>
</div>
