@import '../../assets/font.css';

.card {
    gap: 2rem;
    font-family: 'Poppins' !important;
}

.card.is-phone-portrait {
    flex-wrap: wrap;
}

.text {
    float: left;
    margin-right: 30rem;
}

.text, .img {
    flex-direction: column;
    margin-bottom: 2rem;
}

.text.is-phone-portrait, .img.is-phone-portrait {
    margin: 0 0 0 1rem;
}

.date, .desc, .author {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

.title {
    font-weight: 500 bold;
    font-size: 1rem;
    line-height: 1.5625rem;
}

.line {
    border-top: 1px solid #E5E5E5;
    width: 100%;
    display: block;
}

.likes {
    float: right;
}