@import 'E:\MUNKA\origin_develop\minimal_blog_assignment\minimal_blog\src\assets\font.css';

.card {
    column-gap: 2rem;
    font-family: 'Poppins' !important;
}

.date, .desc, .author {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

.title {
    font-weight: 500 bold;
    font-size: 1rem;
    line-height: 1.5625rem;
    font-family: 'Poppins' !important;
}

.line {
    border-top: 1px solid #E5E5E5;
    width: 100%;
    display: block;
}

.text {
    float: left;
    margin-right: 25rem;
}

.text, .img {
    margin-bottom: 2rem;
}

.likes {
    float: right;
}